BoardAutoTesting/Service References/WipTracking/tWipTracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQueryWipAllInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueryWipAllInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueryWipAllInfoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_WIP_TRACKING">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_WIP_TRACKINGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_WIP_TRACKINGResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWipTracking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWipTrackingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWipTrackingResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWipTrackingList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Model" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="WoId" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWipTrackingListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWipTrackingListResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWipTrackingLineList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Model" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="WoId" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWipTrackingLineListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWipTrackingLineListResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartNumberAndwoIdList">
        <s:complexType />
      </s:element>
      <s:element name="GetPartNumberAndwoIdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartNumberAndwoIdListResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipCartonTrayPallet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PackType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ESN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipCartonTrayPalletResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateScrapWipTracking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dicstring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateScrapWipTrackingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateScrapWipTrackingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEsnDataInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sntype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="snval" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEsnDataInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEsnDataInfoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipAndRecCartonBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dicwiptrack" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipAndRecCartonBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWipAndRecCartonBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CARTON_BOX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MYGROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ESN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CARTONID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MCARTIONID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CARTON_BOXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_CARTON_BOXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartonId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartonStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonPrintContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartonId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonPrintContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartonPrintContentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWipKeyParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="diclsWipKeyPart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWipKeyPartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertWipKeyPartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWipKeyPart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dicWipKeyPart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWipKeyPartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertWipKeyPartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNotCloseBoxInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNotCloseBoxInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNotCloseBoxInfoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxBoxNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxBoxNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaxBoxNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSnInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSnInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSnInfoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackCarton">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackCartonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackCartonResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWoAllSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strHoue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWoAllSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWoAllSerialResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPwdColumns">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sntype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPwdColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPwdColumnsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartonId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartonContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartonContentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseCartonBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartonId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseCartonBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseCartonBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFirstCarton">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newcartonn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFirstCartonResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateWipTrackingWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipTrackingWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWipTrackingWeightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMinCartonByWoid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="woid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMinCartonByWoidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMinCartonByWoidResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="更新WIP信息_x0020_0踢出工单">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dicstring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="更新WIP信息_x0020_0踢出工单Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="更新WIP信息_x0020_0踢出工单Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WIP_TRACKING">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dicstring" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ListFields" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WIP_TRACKINGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_WIP_TRACKINGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="更新QA编号">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QAInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QAUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="更新QA编号Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="更新QA编号Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RollBack_Station">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RollBack_StationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RollBack_StationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_wip_tracking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dic_Wip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lsdic_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_wip_trackingResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateWipTrackingstatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lotout" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWipTrackingstatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWipTrackingstatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockInPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockInPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockInPrintResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQueryWipAllInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueryWipAllInfo" />
  </wsdl:message>
  <wsdl:message name="GetQueryWipAllInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueryWipAllInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_WIP_TRACKINGSoapIn">
    <wsdl:part name="parameters" element="tns:Get_WIP_TRACKING" />
  </wsdl:message>
  <wsdl:message name="Get_WIP_TRACKINGSoapOut">
    <wsdl:part name="parameters" element="tns:Get_WIP_TRACKINGResponse" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingSoapIn">
    <wsdl:part name="parameters" element="tns:GetWipTracking" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingSoapOut">
    <wsdl:part name="parameters" element="tns:GetWipTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWipTrackingList" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWipTrackingListResponse" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingLineListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWipTrackingLineList" />
  </wsdl:message>
  <wsdl:message name="GetWipTrackingLineListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWipTrackingLineListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartNumberAndwoIdListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartNumberAndwoIdList" />
  </wsdl:message>
  <wsdl:message name="GetPartNumberAndwoIdListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartNumberAndwoIdListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWipCartonTrayPalletSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWipCartonTrayPallet" />
  </wsdl:message>
  <wsdl:message name="UpdateWipCartonTrayPalletSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWipCartonTrayPalletResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateScrapWipTrackingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateScrapWipTracking" />
  </wsdl:message>
  <wsdl:message name="UpdateScrapWipTrackingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateScrapWipTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="GetEsnDataInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEsnDataInfo" />
  </wsdl:message>
  <wsdl:message name="GetEsnDataInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEsnDataInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWipAndRecCartonBoxSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWipAndRecCartonBox" />
  </wsdl:message>
  <wsdl:message name="UpdateWipAndRecCartonBoxSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWipAndRecCartonBoxResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CARTON_BOXSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_CARTON_BOX" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CARTON_BOXSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_CARTON_BOXResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartonStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartonState" />
  </wsdl:message>
  <wsdl:message name="GetCartonStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartonStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartonPrintContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartonPrintContent" />
  </wsdl:message>
  <wsdl:message name="GetCartonPrintContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartonPrintContentResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWipKeyParts" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWipKeyPartsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWipKeyPart" />
  </wsdl:message>
  <wsdl:message name="InsertWipKeyPartSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWipKeyPartResponse" />
  </wsdl:message>
  <wsdl:message name="GetNotCloseBoxInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetNotCloseBoxInfo" />
  </wsdl:message>
  <wsdl:message name="GetNotCloseBoxInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetNotCloseBoxInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxBoxNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxBoxNumber" />
  </wsdl:message>
  <wsdl:message name="GetMaxBoxNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxBoxNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetSnInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSnInfo" />
  </wsdl:message>
  <wsdl:message name="GetSnInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSnInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackCartonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackCarton" />
  </wsdl:message>
  <wsdl:message name="GetPackCartonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackCartonResponse" />
  </wsdl:message>
  <wsdl:message name="GetWoAllSerialSoapIn">
    <wsdl:part name="parameters" element="tns:GetWoAllSerial" />
  </wsdl:message>
  <wsdl:message name="GetWoAllSerialSoapOut">
    <wsdl:part name="parameters" element="tns:GetWoAllSerialResponse" />
  </wsdl:message>
  <wsdl:message name="GetPwdColumnsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPwdColumns" />
  </wsdl:message>
  <wsdl:message name="GetPwdColumnsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPwdColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartonContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartonContent" />
  </wsdl:message>
  <wsdl:message name="GetCartonContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartonContentResponse" />
  </wsdl:message>
  <wsdl:message name="CloseCartonBoxSoapIn">
    <wsdl:part name="parameters" element="tns:CloseCartonBox" />
  </wsdl:message>
  <wsdl:message name="CloseCartonBoxSoapOut">
    <wsdl:part name="parameters" element="tns:CloseCartonBoxResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFirstCartonSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFirstCarton" />
  </wsdl:message>
  <wsdl:message name="UpdateFirstCartonSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFirstCartonResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWipTrackingWeightSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWipTrackingWeight" />
  </wsdl:message>
  <wsdl:message name="UpdateWipTrackingWeightSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWipTrackingWeightResponse" />
  </wsdl:message>
  <wsdl:message name="GetMinCartonByWoidSoapIn">
    <wsdl:part name="parameters" element="tns:GetMinCartonByWoid" />
  </wsdl:message>
  <wsdl:message name="GetMinCartonByWoidSoapOut">
    <wsdl:part name="parameters" element="tns:GetMinCartonByWoidResponse" />
  </wsdl:message>
  <wsdl:message name="更新WIP信息_x0020_0踢出工单SoapIn">
    <wsdl:part name="parameters" element="tns:更新WIP信息_x0020_0踢出工单" />
  </wsdl:message>
  <wsdl:message name="更新WIP信息_x0020_0踢出工单SoapOut">
    <wsdl:part name="parameters" element="tns:更新WIP信息_x0020_0踢出工单Response" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WIP_TRACKINGSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_WIP_TRACKING" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WIP_TRACKINGSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_WIP_TRACKINGResponse" />
  </wsdl:message>
  <wsdl:message name="更新QA编号SoapIn">
    <wsdl:part name="parameters" element="tns:更新QA编号" />
  </wsdl:message>
  <wsdl:message name="更新QA编号SoapOut">
    <wsdl:part name="parameters" element="tns:更新QA编号Response" />
  </wsdl:message>
  <wsdl:message name="RollBack_StationSoapIn">
    <wsdl:part name="parameters" element="tns:RollBack_Station" />
  </wsdl:message>
  <wsdl:message name="RollBack_StationSoapOut">
    <wsdl:part name="parameters" element="tns:RollBack_StationResponse" />
  </wsdl:message>
  <wsdl:message name="check_wip_trackingSoapIn">
    <wsdl:part name="parameters" element="tns:check_wip_tracking" />
  </wsdl:message>
  <wsdl:message name="check_wip_trackingSoapOut">
    <wsdl:part name="parameters" element="tns:check_wip_trackingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWipTrackingstatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWipTrackingstatus" />
  </wsdl:message>
  <wsdl:message name="UpdateWipTrackingstatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWipTrackingstatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockInPrintSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockInPrint" />
  </wsdl:message>
  <wsdl:message name="GetStockInPrintSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockInPrintResponse" />
  </wsdl:message>
  <wsdl:portType name="tWipTrackingSoap">
    <wsdl:operation name="GetQueryWipAllInfo">
      <wsdl:input message="tns:GetQueryWipAllInfoSoapIn" />
      <wsdl:output message="tns:GetQueryWipAllInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_WIP_TRACKING">
      <wsdl:input message="tns:Get_WIP_TRACKINGSoapIn" />
      <wsdl:output message="tns:Get_WIP_TRACKINGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWipTracking">
      <wsdl:input message="tns:GetWipTrackingSoapIn" />
      <wsdl:output message="tns:GetWipTrackingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingList">
      <wsdl:input message="tns:GetWipTrackingListSoapIn" />
      <wsdl:output message="tns:GetWipTrackingListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingLineList">
      <wsdl:input message="tns:GetWipTrackingLineListSoapIn" />
      <wsdl:output message="tns:GetWipTrackingLineListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartNumberAndwoIdList">
      <wsdl:input message="tns:GetPartNumberAndwoIdListSoapIn" />
      <wsdl:output message="tns:GetPartNumberAndwoIdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWipCartonTrayPallet">
      <wsdl:input message="tns:UpdateWipCartonTrayPalletSoapIn" />
      <wsdl:output message="tns:UpdateWipCartonTrayPalletSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScrapWipTracking">
      <wsdl:input message="tns:UpdateScrapWipTrackingSoapIn" />
      <wsdl:output message="tns:UpdateScrapWipTrackingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据esn获取数据,输入的可以是除密码外类型任何序号类型</wsdl:documentation>
      <wsdl:input message="tns:GetEsnDataInfoSoapIn" />
      <wsdl:output message="tns:GetEsnDataInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWipAndRecCartonBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加卡通箱信息,执行过站功能,成功返回OK,否则返回错误信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateWipAndRecCartonBoxSoapIn" />
      <wsdl:output message="tns:UpdateWipAndRecCartonBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CARTON_BOX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加卡通箱信息,执行过站功能,成功返回OK,否则返回错误信-20150121</wsdl:documentation>
      <wsdl:input message="tns:UPDATE_CARTON_BOXSoapIn" />
      <wsdl:output message="tns:UPDATE_CARTON_BOXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartonState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询卡通箱的状态:0：在包装; 1：关闭(包装完成); 2：分解 3：合并</wsdl:documentation>
      <wsdl:input message="tns:GetCartonStateSoapIn" />
      <wsdl:output message="tns:GetCartonStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartonPrintContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取卡通箱需要打印的所有内容</wsdl:documentation>
      <wsdl:input message="tns:GetCartonPrintContentSoapIn" />
      <wsdl:output message="tns:GetCartonPrintContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加序列号绑定关系,包含有效性检查</wsdl:documentation>
      <wsdl:input message="tns:InsertWipKeyPartsSoapIn" />
      <wsdl:output message="tns:InsertWipKeyPartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyPart">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加序列号绑定关系,直接添加无检查功能</wsdl:documentation>
      <wsdl:input message="tns:InsertWipKeyPartSoapIn" />
      <wsdl:output message="tns:InsertWipKeyPartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNotCloseBoxInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取这条线没有包完的卡通箱列表</wsdl:documentation>
      <wsdl:input message="tns:GetNotCloseBoxInfoSoapIn" />
      <wsdl:output message="tns:GetNotCloseBoxInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxBoxNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取工单的最大的卡通箱编号</wsdl:documentation>
      <wsdl:input message="tns:GetMaxBoxNumberSoapIn" />
      <wsdl:output message="tns:GetMaxBoxNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定的序列号存在的内容</wsdl:documentation>
      <wsdl:input message="tns:GetSnInfoSoapIn" />
      <wsdl:output message="tns:GetSnInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackCarton">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取一个工单在一条产线上的包装信息</wsdl:documentation>
      <wsdl:input message="tns:GetPackCartonSoapIn" />
      <wsdl:output message="tns:GetPackCartonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWoAllSerial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取整个工单的序列号对应关系</wsdl:documentation>
      <wsdl:input message="tns:GetWoAllSerialSoapIn" />
      <wsdl:output message="tns:GetWoAllSerialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPwdColumns">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取属于密码的标签类型</wsdl:documentation>
      <wsdl:input message="tns:GetPwdColumnsSoapIn" />
      <wsdl:output message="tns:GetPwdColumnsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartonContent">
      <wsdl:input message="tns:GetCartonContentSoapIn" />
      <wsdl:output message="tns:GetCartonContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseCartonBox">
      <wsdl:input message="tns:CloseCartonBoxSoapIn" />
      <wsdl:output message="tns:CloseCartonBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstCarton">
      <wsdl:input message="tns:UpdateFirstCartonSoapIn" />
      <wsdl:output message="tns:UpdateFirstCartonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingWeight">
      <wsdl:input message="tns:UpdateWipTrackingWeightSoapIn" />
      <wsdl:output message="tns:UpdateWipTrackingWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMinCartonByWoid">
      <wsdl:input message="tns:GetMinCartonByWoidSoapIn" />
      <wsdl:output message="tns:GetMinCartonByWoidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <wsdl:input name="更新WIP信息_x0020_0踢出工单" message="tns:更新WIP信息_x0020_0踢出工单SoapIn" />
      <wsdl:output name="更新WIP信息_x0020_0踢出工单" message="tns:更新WIP信息_x0020_0踢出工单SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <wsdl:input name="UPDATE_WIP_TRACKING" message="tns:UPDATE_WIP_TRACKINGSoapIn" />
      <wsdl:output name="UPDATE_WIP_TRACKING" message="tns:UPDATE_WIP_TRACKINGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_QA">
      <wsdl:input name="更新QA编号" message="tns:更新QA编号SoapIn" />
      <wsdl:output name="更新QA编号" message="tns:更新QA编号SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RollBack_Station">
      <wsdl:input message="tns:RollBack_StationSoapIn" />
      <wsdl:output message="tns:RollBack_StationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="check_wip_tracking">
      <wsdl:input message="tns:check_wip_trackingSoapIn" />
      <wsdl:output message="tns:check_wip_trackingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingstatus">
      <wsdl:input message="tns:UpdateWipTrackingstatusSoapIn" />
      <wsdl:output message="tns:UpdateWipTrackingstatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockInPrint">
      <wsdl:input message="tns:GetStockInPrintSoapIn" />
      <wsdl:output message="tns:GetStockInPrintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tWipTrackingSoap" type="tns:tWipTrackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueryWipAllInfo">
      <soap:operation soapAction="http://tempuri.org/GetQueryWipAllInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_WIP_TRACKING">
      <soap:operation soapAction="http://tempuri.org/Get_WIP_TRACKING" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTracking">
      <soap:operation soapAction="http://tempuri.org/GetWipTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingList">
      <soap:operation soapAction="http://tempuri.org/GetWipTrackingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingLineList">
      <soap:operation soapAction="http://tempuri.org/GetWipTrackingLineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartNumberAndwoIdList">
      <soap:operation soapAction="http://tempuri.org/GetPartNumberAndwoIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipCartonTrayPallet">
      <soap:operation soapAction="http://tempuri.org/UpdateWipCartonTrayPallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScrapWipTracking">
      <soap:operation soapAction="http://tempuri.org/UpdateScrapWipTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <soap:operation soapAction="http://tempuri.org/GetEsnDataInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipAndRecCartonBox">
      <soap:operation soapAction="http://tempuri.org/UpdateWipAndRecCartonBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CARTON_BOX">
      <soap:operation soapAction="http://tempuri.org/UPDATE_CARTON_BOX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonState">
      <soap:operation soapAction="http://tempuri.org/GetCartonState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonPrintContent">
      <soap:operation soapAction="http://tempuri.org/GetCartonPrintContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <soap:operation soapAction="http://tempuri.org/InsertWipKeyParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyPart">
      <soap:operation soapAction="http://tempuri.org/InsertWipKeyPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotCloseBoxInfo">
      <soap:operation soapAction="http://tempuri.org/GetNotCloseBoxInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBoxNumber">
      <soap:operation soapAction="http://tempuri.org/GetMaxBoxNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <soap:operation soapAction="http://tempuri.org/GetSnInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackCarton">
      <soap:operation soapAction="http://tempuri.org/GetPackCarton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWoAllSerial">
      <soap:operation soapAction="http://tempuri.org/GetWoAllSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPwdColumns">
      <soap:operation soapAction="http://tempuri.org/GetPwdColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonContent">
      <soap:operation soapAction="http://tempuri.org/GetCartonContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseCartonBox">
      <soap:operation soapAction="http://tempuri.org/CloseCartonBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstCarton">
      <soap:operation soapAction="http://tempuri.org/UpdateFirstCarton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingWeight">
      <soap:operation soapAction="http://tempuri.org/UpdateWipTrackingWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinCartonByWoid">
      <soap:operation soapAction="http://tempuri.org/GetMinCartonByWoid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <soap:operation soapAction="http://tempuri.org/更新WIP信息 0踢出工单" style="document" />
      <wsdl:input name="更新WIP信息_x0020_0踢出工单">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="更新WIP信息_x0020_0踢出工单">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <soap:operation soapAction="http://tempuri.org/UPDATE_WIP_TRACKING" style="document" />
      <wsdl:input name="UPDATE_WIP_TRACKING">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UPDATE_WIP_TRACKING">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_QA">
      <soap:operation soapAction="http://tempuri.org/更新QA编号" style="document" />
      <wsdl:input name="更新QA编号">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="更新QA编号">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollBack_Station">
      <soap:operation soapAction="http://tempuri.org/RollBack_Station" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_wip_tracking">
      <soap:operation soapAction="http://tempuri.org/check_wip_tracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingstatus">
      <soap:operation soapAction="http://tempuri.org/UpdateWipTrackingstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockInPrint">
      <soap:operation soapAction="http://tempuri.org/GetStockInPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tWipTrackingSoap12" type="tns:tWipTrackingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueryWipAllInfo">
      <soap12:operation soapAction="http://tempuri.org/GetQueryWipAllInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_WIP_TRACKING">
      <soap12:operation soapAction="http://tempuri.org/Get_WIP_TRACKING" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTracking">
      <soap12:operation soapAction="http://tempuri.org/GetWipTracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingList">
      <soap12:operation soapAction="http://tempuri.org/GetWipTrackingList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWipTrackingLineList">
      <soap12:operation soapAction="http://tempuri.org/GetWipTrackingLineList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartNumberAndwoIdList">
      <soap12:operation soapAction="http://tempuri.org/GetPartNumberAndwoIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipCartonTrayPallet">
      <soap12:operation soapAction="http://tempuri.org/UpdateWipCartonTrayPallet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScrapWipTracking">
      <soap12:operation soapAction="http://tempuri.org/UpdateScrapWipTracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEsnDataInfo">
      <soap12:operation soapAction="http://tempuri.org/GetEsnDataInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipAndRecCartonBox">
      <soap12:operation soapAction="http://tempuri.org/UpdateWipAndRecCartonBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CARTON_BOX">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_CARTON_BOX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonState">
      <soap12:operation soapAction="http://tempuri.org/GetCartonState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonPrintContent">
      <soap12:operation soapAction="http://tempuri.org/GetCartonPrintContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyParts">
      <soap12:operation soapAction="http://tempuri.org/InsertWipKeyParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWipKeyPart">
      <soap12:operation soapAction="http://tempuri.org/InsertWipKeyPart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotCloseBoxInfo">
      <soap12:operation soapAction="http://tempuri.org/GetNotCloseBoxInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBoxNumber">
      <soap12:operation soapAction="http://tempuri.org/GetMaxBoxNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnInfo">
      <soap12:operation soapAction="http://tempuri.org/GetSnInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackCarton">
      <soap12:operation soapAction="http://tempuri.org/GetPackCarton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWoAllSerial">
      <soap12:operation soapAction="http://tempuri.org/GetWoAllSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPwdColumns">
      <soap12:operation soapAction="http://tempuri.org/GetPwdColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartonContent">
      <soap12:operation soapAction="http://tempuri.org/GetCartonContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseCartonBox">
      <soap12:operation soapAction="http://tempuri.org/CloseCartonBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstCarton">
      <soap12:operation soapAction="http://tempuri.org/UpdateFirstCarton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingWeight">
      <soap12:operation soapAction="http://tempuri.org/UpdateWipTrackingWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinCartonByWoid">
      <soap12:operation soapAction="http://tempuri.org/GetMinCartonByWoid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <soap12:operation soapAction="http://tempuri.org/更新WIP信息 0踢出工单" style="document" />
      <wsdl:input name="更新WIP信息_x0020_0踢出工单">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="更新WIP信息_x0020_0踢出工单">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Wip_Tracking">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_WIP_TRACKING" style="document" />
      <wsdl:input name="UPDATE_WIP_TRACKING">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UPDATE_WIP_TRACKING">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_QA">
      <soap12:operation soapAction="http://tempuri.org/更新QA编号" style="document" />
      <wsdl:input name="更新QA编号">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="更新QA编号">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollBack_Station">
      <soap12:operation soapAction="http://tempuri.org/RollBack_Station" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_wip_tracking">
      <soap12:operation soapAction="http://tempuri.org/check_wip_tracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWipTrackingstatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateWipTrackingstatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockInPrint">
      <soap12:operation soapAction="http://tempuri.org/GetStockInPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tWipTracking">
    <wsdl:port name="tWipTrackingSoap" binding="tns:tWipTrackingSoap">
      <soap:address location="http://sfis.phicomm.com.cn/SFIS_Webser/tWipTracking.asmx" />
    </wsdl:port>
    <wsdl:port name="tWipTrackingSoap12" binding="tns:tWipTrackingSoap12">
      <soap12:address location="http://sfis.phicomm.com.cn/SFIS_Webser/tWipTracking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>